<nav class="navbar sticky-top">
    <div class="container d-flex justify-content-around align-items-center mt-2 mb-5">
        <a class="navbar-text" href="/pets">Pets</a>
        <a class="navbar-brand" id="brand" href="/">PetSociety</a>
        <a class="navbar-text" href="/toys">Toys</a>
    </div>
</nav>
