<nav class="navbar ">
  <div class="container d-flex justify-content-around align-items-center mt-2 mb-5">
    <a class="navbar-text" href="/shop">Shop</a>
    <a class="navbar-brand" id="brand" href="/">PetSociety</a>
    <a class="navbar-text" href="/register">Register</a>
  </div>
</nav>
