<% layout('./templates/layout/layout') %>

  <section class="hero mb-5">
    <div class="container mb-5">
      <div class="row align-items-center mb-5">
        <div class="col-md-7">
          <h1>Your one-stop shop for finding your perfect pet and everything they need.</h1>
          <p class="mt-4">Discover adorable pets looking for loving homes and a wide selection of premium supplies to
            keep them happy
            and healthy.</p>
          <div class="d-flex align-items-center justify-content-center mt-3">
            <button class="button-31">Shop Now</button>
          </div>
        </div>
        <div class="col-md-5">
          <img src="images/cat-dog.png" alt="Image of two animals" class="img-fluid rounded">
        </div>

      </div>

    </div>
  </section>

  <section>
    <div class="container">

    </div>
  </section>
