<% layout('./templates/layout/layout') %>

  <section class="hero mb-5">
    <div class="container mb-5">
      <div class="row align-items-center mb-5">
        <div class="col-md-7">
          <h1>Your one-stop shop for finding your perfect pet and everything they need.</h1>
          <p class="mt-4">Discover adorable pets looking for loving homes and a wide selection of premium supplies to
            keep them happy
            and healthy.</p>
        </div>
        <div class="col-md-5">
          <img src="images/cat-dog.png" alt="Image of two animals" class="img-fluid rounded">
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="row">
        <h2>Pets</h2>
        <div class="product-list d-flex flex-row col-md-12 mt-3">
          <div class="product-item">
            <p>test</p>
          </div>
          <div class="product-item">
            <p>test</p>
          </div>
          <div class="product-item">
            <p>test</p>
          </div>
          <div class="product-item">
            <p>test</p>
          </div>
        </div>
      </div>
      <div class="row">
        <h2>Pet Clothes</h2>
        <div class="product-list col-md-12 mt-3">
          <div class="product-item">
            <p>test</p>
          </div>
        </div>
      </div>
      <div class="row">
        <h2>Pet Food</h2>
        <div class="product-list col-md-12 mt-3">
          <div class="product-item">
            <p>test</p>
          </div>
        </div>
      </div>
      <div class="row">
        <h2>Pet Toys</h2>
        <div class="product-list col-md-12 mt-3">
          <div class="product-item">
            <p>test</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
