<% layout('./templates/layout/layout') %>

  <section class="hero">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7">
          <h1>Your one-stop shop for finding your perfect pet and everything they need.</h1>
          <p class="mt-3 text-gray">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aliquam, molestias commodi, soluta, impedit
            nulla error et cupiditate nostrum aliquid reprehenderit nobis optio iure odio minima officiis aspernatur
            voluptate nesciunt.
          </p>
        </div>
        <div class="col-md-5">
          <img src="images/cat-dog.png" alt="Image of two animals" class="img-fluid rounded">
        </div>
      </div>
    </div>
  </section>

  <section class="our-products">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center mt-5">
          <h1>Our Products</h1>
        </div>
      </div>
      <div class="row mt-5 d-flex justify-content-around">

        <div class="col-md-3 text-center">
          <i class="fi fi-ss-pets fs-1 mb-2"></i>
          <p>Pets</p>
        </div>
        <div class="col-md-3 text-center">
          <i class="fi fi-ss-bowl-rice fs-1 mb-2"></i>
          <p>Pet Food</p>
        </div>
        <div class="col-md-3 text-center">
          <i class="fi fi-bs-clothes-hanger fs-1 mb-2"></i>
          <p>Pet Clothing</p>
        </div>
        <div class="col-md-3 text-center">
          <i class="fi fi-br-teddy-bear fs-1 mb-2 mb-2"></i>
          <p>Pet Toys</p>
        </div>
      </div>
    </div>
  </section>
