
body{
  background-color: var(--background-beige); 
}

.navbar-brand {
    font-family: var(--font-heading);
    font-size: 1.75rem;  /* Slightly larger font size */
    font-weight: 700;    /* Make it bold */
    color: var(--color-orange);
    text-decoration: none;
}

.navbar-text {
    font-family: var(--font-body);
    font-size: 1rem;
    color: var(--color-dark-blue);
    text-decoration: none;
    margin: 0 1rem;  /* Add some horizontal spacing */
    transition: color 0.2s ease-in-out;  /* Smooth color transition on hover */
}

.about-us {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.big-line {
    width: 100%;
    height: 1px; /* Thickness */
    background-color: black; /* Color */
}


.product-list{
  display:flex;
  margin:1rem;
  align-items:center;
  justify-content:space-around;
height:350px;
}

.product-item{
  display:flex;
  background-color: white;
height:90%;
width:150px;
}
/* CSS */

.button-31 {
  display: flex;
  justify-content: space-evenly; /* This spaces out the contents inside the button */
  align-items: center; /* This ensures the content is vertically centered */
  background-color: #222;
  border-radius: 14px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: 25%;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}



.button-31:hover,
.button-31:focus {
  opacity: .75;
}

:root {
  --darkblue: #062d3e;
  --background-beige: #ebe3cc;
}
