
body{
  background-color: white; 
}

.navbar-brand {
    font-family: var(--font-heading);
    font-size: 1.75rem;  /* Slightly larger font size */
    font-weight: 700;    /* Make it bold */
    color: var(--color-orange);
    text-decoration: none;
}


.navbar-text {
    font-family: var(--font-body);
    font-size: 1rem;
    color: var(--color-dark-blue);
    text-decoration: none;
    margin: 0 1rem;  /* Add some horizontal spacing */
    transition: color 0.2s ease-in-out;  /* Smooth color transition on hover */
}


/* Hero Part */

.hero{
margin-top:5rem;
}


.hero-heading{
background-color: none !important;
margin-top:5rem;
}

.hero-heading h1{
 text-shadow:4px 1px 5px black; 
}


.hero-button{
margin-top:5rem;
}

.pet-adoption img{
width:400px;
height:500px;

}


.pet-clothes{
display:flex;
justify-content: space-around;
}

.pet-clothes img{
width:400px;
height:500px;
}

.button-31 {
  display: flex;
  justify-content: space-evenly; /* This spaces out the contents inside the button */
  align-items: center; /* This ensures the content is vertically centered */
  background-color: #222;
  border-radius: 14px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: 25%;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}



.button-31:hover,
.button-31:focus {
  opacity: .75;
}

:root {
  --darkblue: #062d3e;
  --background-beige: #ebe3cc;
}
